html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 45%;
  margin-bottom: -21px;
}

.main {

  height: 55%;
  width: 100%;
  background-color: #ddd9d3;
  position: relative;


  #events-overview {
//    height: 50%;
    width: 50%;
    list-style-type: none;
    padding-top: 10px;

  }

  #event-detail {
    position: absolute;

    top: -20px;
    bottom: 0;
    right: 50px;

    width: 550px;

    background-color: white;
    padding: 15px;

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    -moz-border-radius-topleft: 13px;
    -moz-border-radius-topright: 13px;
    -webkit-border-top-left-radius: 13px;
    -webkit-border-top-right-radius: 13px;
  }

  .selected {
    background-color: red;
  }
}

.card {

  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;

  .card-container {
    border: 1px;
    border-color: #cbc7c2;
    border-style: solid;
    background-color: white;

    outline: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);



    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    width: 232px;
    height: 170px;


    .image-container {
      height: 105px;

      -moz-border-radius-topleft: 7px;
      -moz-border-radius-topright: 7px;
      -webkit-border-top-left-radius: 7px;
      -webkit-border-top-right-radius: 7px;
      -moz-border-radius-topleft: 7px;
      -moz-border-radius-topright: 7px;


      background-color: #7dc1f5;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-body-container {

      padding-left: 8px;
      padding-right: 8px;
      padding-top: 3px;

      h1 {
        margin: 0px;
        font-size: 11pt;
        color: #464646;
        line-height: normal;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }

      i {
        width: auto;
      }

      .location {
        margin: 0px;
        color: #898989;
        font-weight: bold;
        font-size: 9pt;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .tags {
        margin: 0px;
        font-style: italic;
        color: #a1a1a1;
        font-size: 9pt;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
      }
    }
  }
}

